<div *ngIf="tipoLogged() == 'gestor' || tipoLogged() ==  ('administrador')">
<div class="container-fluid">
    <h2>Gestion de Mesas </h2>
    <div class="table-responsive" >
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped" style="max-width: 100%;">
        <thead>
          <button type="button" class="btn btn-primary mb-2" (click)="nuevaMesa()" *ngIf="tipoLogged() == 'gestor' || tipoLogged() ==  ('administrador')">Agregar Mesa</button>
          <tr>
            <th scope="col">Numero de mesa</th>
            <th scope="col">Cantidad de mesas</th>
            <th scope="col">Cantidad de sillas</th>
            <th scope="col">Estado</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mesa of mesas">
            <td>#{{mesa.numeroMesa}}</td>
            <td>{{mesa.cantidadMesa}}</td>
          <td>{{mesa.cantidadSilla}}</td>
            <td *ngIf="mesa.disponibilidadReserva === true">Disponible</td>
            <td *ngIf="mesa.disponibilidadReserva === false">No disponible</td>
            <td>
        <button type="button" class="btn btn-secondary me-2" (click)="modificarMesa(mesa)"  >
          <i class="fa-solid fa-pencil"></i>
        </button>

         <button type="button" class="btn btn-danger" (click)="eliminarMesa(mesa)">

         <i class="fa-sharp fa-solid fa-trash"></i>
         </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>