.container-comment{
  padding: 40px;
}
.table-responsive{
  color:#f5e7aa;
}
.table{
  padding: 15px;
}
.btn-danger {
  background-color: #fa6816;
  border-color: #fa6816;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-danger:hover {
  background-color: #fd8037; /* Cambia el color de fondo en hover */
  border-color: #fd8037; /*Cambia el color del borde en hover */
}

textarea{
  height: 70px;
}

.rating {
  display: inline-block;
  font-size: 0;
  position: relative;
  text-transform: capitalize;
  padding: 0px 0px;
  color: gray;
}
.rating label {
  display: inline-block;
  float: right;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
}
.rating label::before {
  content: "\2606";
  display: inline-block;
  transition: 0.2s;
}
.rating label span {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 20px;
  font-size: 1rem;
  white-space: nowrap;
  transition: 0.15s ease-out;
  pointer-events: none;
  letter-spacing: -2px;
  transform: translateY(-50%);
}
.rating label:hover span {
  opacity: 1;
  transform: none;
  letter-spacing: 0;
}
.rating label:hover::before {
  color: orange;
  opacity: 0.6;
  filter: drop-shadow(0 0 4px);
}
.rating label:hover ~ ::before {
  color: orange;
  opacity: 0.6;
  filter: drop-shadow(0 0 4px);
}
.rating input:checked ~ label::before {
  content: "\2605";
  color: orange;
  filter: drop-shadow(0 0 4px);
  transform: rotate(0.2turn);
  transition-delay: calc(0.1 attr(data-idx integer));
}

.descripcion-comentario {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 600px;  /*Ajusta el valor según tus necesidades*/
}



/*--------------------------------------*/

.container-fluid{
  font-family: 'Lato', sans-serif;
  background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),url(https://i.blogs.es/155586/paradiso/1366_2000.jpg) ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h2 {
  color: #d3ccd1;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
  animation-name: bounceIn; /* Animación de entrada */
  animation-duration: 1s; /* Duración de la animación */
}
.list-group, .card-cliente{
  padding: 50px;
}
.list-group-item{
  background-color: rgb(255, 245, 152,0.83);
  padding: 25px;
}

.fa-user{
  color: rgb(17, 17, 81);
  padding-right: 10px;
}
.fechacom{
  font-size: 14px;
  padding-left: 30px;
}
