<!-- GESTOR -->
  <div *ngIf="tipoLogged() == ('gestor') || tipoLogged() ==  ('administrador') " class="navbar-item">

   <div class="container-fluid container-comment">
    <h2 class="text-titulo">Gestion de Comentarios</h2>
      <div class="table-responsive ">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
          <thead>
            <tr>
              <th scope="col-2">USUARIO</th>
              <th scope="col-2">FECHA</th>
              <th scope="col-2">PUNTAJE</th>
              <th scope="col-2">COMENTARIO</th>
              <th scope="col-2">OPCION</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let div of listaComentarios"  class="">
              <td class="col-2">{{div.usuario.email}}</td>
              <td class="col-2">{{div.fechaComentario}}</td>
              <td class="col-2">
                <div class="fw-bold">
                  <span *ngIf="evaluarPuntaje(div.puntajeComentario) == 'Alto'" class="badge bg-success rounded-pill"><i class="bi bi-star-fill"></i>{{div.puntajeComentario}}</span>
                  <span *ngIf="evaluarPuntaje(div.puntajeComentario) == 'Medio'" class="badge bg-warning rounded-pill"><i class="bi bi-star-fill"></i>{{div.puntajeComentario}}</span>
                  <span *ngIf="evaluarPuntaje(div.puntajeComentario) == 'Bajo'" class="badge bg-danger rounded-pill"><i class="bi bi-star-fill"></i>{{div.puntajeComentario}}</span>
                 </div>
              </td>
              <td class="col-2 descripcion-comentario">{{div.descripcionComentario}} </td>
              <td class="col-1">
                <div class="d-flex">
                  <button type="submit" (click)="eliminarComentario(div)" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


<!-- CLIENTE -->

<div *ngIf="tipoLogged()  == ('cliente')" class="navbar-item">

  <div class="container-fluid">
        <div class="card-cliente">
          <form class="p-4">

            <div class="fw-bold text-light"><i class="fa-solid fa-user" style="color: #5680c8;"></i>{{comentario.usuario}}</div>

            <div class="text-light">{{comentario.fechaComentario}}</div>

            <div class="rating">
              <input type="radio" hidden name="rate" id="rating_5" (click)="setPuntaje(5)"
                [checked]="comentario.puntajeComentario === 5">
              <label for="rating_5"></label>

              <input type="radio" hidden name="rate" id="rating_4" (click)="setPuntaje(4)"
                [checked]="comentario.puntajeComentario === 4">
              <label for="rating_4"></label>

              <input type="radio" hidden name="rate" id="rating_3" (click)="setPuntaje(3)"
                [checked]="comentario.puntajeComentario === 3">
              <label for="rating_3"></label>

              <input type="radio" hidden name="rate" id="rating_2" (click)="setPuntaje(2)"
                [checked]="comentario.puntajeComentario === 2">
              <label for="rating_2"></label>

              <input type="radio" hidden name="rate" id="rating_1" (click)="setPuntaje(1)"
                [checked]="comentario.puntajeComentario === 1">
              <label for="rating_1"></label>
            </div>

            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label text-light">Comentario : </label>
              <textarea class="form-control " name="descripcionComentario"
                [(ngModel)]="comentario.descripcionComentario" placeholder="Escribe tu comentario"></textarea>
            </div>

            <button type="submit"  *ngIf="!comentario._id" (click)="guardarComentario()"
              class="btn btn-primary">Comentar</button>
          </form>
        </div>

        <ol class="list-group ">
          <div class="row">
            <div class="col-6 ol-sm-4 col-md-3">
              <div class=" input-group mb-3">
                <span class="input-group-text">Puntajes</span>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="filtroP" (ngModelChange)="filtroPuntaje()">
                  <option value="">TODA LA LISTA</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
          </div>
          <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let div of listaComentarios">
            <div class=" ms-2 me-auto">
              <div class="fw-bold"><i class="fa-solid fa-user"></i>{{div.usuario.email}}
                <span *ngIf="evaluarPuntaje(div.puntajeComentario) == 'Alto'" class="badge bg-success rounded-pill"><i class="bi bi-star-fill"></i>{{div.puntajeComentario}}</span>
                <span *ngIf="evaluarPuntaje(div.puntajeComentario) == 'Medio'" class="badge bg-warning rounded-pill"><i class="bi bi-star-fill"></i>{{div.puntajeComentario}}</span>
                <span *ngIf="evaluarPuntaje(div.puntajeComentario) == 'Bajo'" class="badge bg-danger rounded-pill"><i class="bi bi-star-fill"></i>{{div.puntajeComentario}}</span>
              </div>
              <div class="fechacom">{{div.fechaComentario}}</div>
              <div class=" descripcion-comentario ps-4">{{div.descripcionComentario}}</div>
            </div>


            <button *ngIf="div.usuario.email==usuario" type="submit" (click)="eliminarComentario(div)" class="btn btn-danger custom-btn"><i
              class="bi bi-x"></i></button>
          </li>
        </ol>
      </div>
</div>


<!--NO REGISTRADO-->
<div class="container-fluid">
  <div *ngIf="!usuarioService.userLoggedIn()">
    <h2 class="text-titulo">Foro de Comentarios</h2>
    <ol class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let div of listaComentarios">
        <div class=" ms-2 me-auto">
          <div class="fw-bold"><i class="fa-solid fa-user"></i>{{div.usuario.email}}
            <span *ngIf="evaluarPuntaje(div.puntajeComentario) == 'Alto'" class="badge bg-success rounded-pill"><i class="bi bi-star-fill"></i>{{div.puntajeComentario}}</span>
            <span *ngIf="evaluarPuntaje(div.puntajeComentario) == 'Medio'" class="badge bg-warning rounded-pill"><i class="bi bi-star-fill"></i>{{div.puntajeComentario}}</span>
            <span *ngIf="evaluarPuntaje(div.puntajeComentario) == 'Bajo'" class="badge bg-danger rounded-pill"><i class="bi bi-star-fill"></i>{{div.puntajeComentario}}</span>
          </div>
          <div class="fechacom">{{div.fechaComentario}}</div>
          <div class="descripcion-comentario ps-4 ">{{div.descripcionComentario}}</div>
        </div>
      </li>
    </ol>
  </div>
</div>
