<div>
    <title>Bar - Página de inicio</title>
</div>
<div class="container">
    <h1 class="mt-4">Bienvenido al Bar</h1>
    <p>¡Descubre todo lo que tenemos para ofrecerte!</p>

    <div class="row">
        <div class="col-md-6">
            <!-- Enlace a otra página -->
            <a href="otra_pagina.html" class="btn btn-primary">Explorar más</a>
        </div>
        <div class="col-md-6">
            <!-- Imagen que redirige a otra página -->

            <img src="/proyfrontendgrupo02/src/assets/logoBar.png" alt="Imagen del bar" class="img-fluid">

        </div>
    </div>
</div>