<div>
    <title>Bar - Página de inicio</title>
</div>
<div class="container">
    <h1 class="mt-4">Bienvenido al Bar</h1>
    <p>¡Descubre todo lo que tenemos para ofrecerte!</p>
    <!-- CLIENTE -->

    <div *ngIf="tipoLogged()  == ('cliente')" class="navbar-item">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card mb-4">
                    <button><img [src]="" class="card-img-top" alt="Imagen bebida"></button>
                    <div class="card-body">
                        <h5 class="card-title">Reserve su Mesa Ya!</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card mb-4">
                    <button><img [src]="" class="card-img-top" alt="Imagen bebida"></button>
                    <div class="card-body">
                        <h5 class="card-title">Ya puedes encargar tus Bebidas!</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <button><img [src]="" class="card-img-top" alt="Imagen bebida"></button>
                    <div class="card-body">
                        <h5 class="card-title">Tu opinión nos importa!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>