<div class="container-fluid">
<div class="row">
  <div class="col-6">
<h2 >Mesas Disponibles</h2>

  <div class="table-responsive" >
    <table class="table-custom table-striped table table-dark table-hover" >
      <thead>
        <tr>
          <th scope="col">Numero de mesa</th>
          <th scope="col">Cantidad de mesas</th>
          <th scope="col">Cantidad de sillas</th>
          <th scope="col">Estado</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of mesasDisponibles">
          <td># {{m.numeroMesa}}</td>
          <td>{{m.cantidadMesa}} mesas</td>
          <td>Hasta {{m.cantidadSilla}} personas</td>
          <td *ngIf="m.disponibilidadReserva === true">Disponible</td>
          <td> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalReserva" (click)="abrirModalReservar(m)" > 
            Reservar <i class="fa-regular fa-circle-right"></i>
          </button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>


  <div class="col-6 ">


      <div class="col-12">
        <h2>Mis reservas {{fechaDeHoy | date:'dd-MM-yyyy'}}</h2>
        
          <div class="table-responsive" >
            <table class="table-custom table-striped table table-dark table-hover" >
              <thead>
                <tr>
                  <th scope="col">Numero de mesa</th>
                  <th scope="col">Cantidad de mesas</th>
                  <th scope="col">Cantidad de Personas</th>
                  <th scope="col">Horario de Reserva </th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mu of mesasReservadas">
                  <td>#{{mu.numeroMesa}}</td>
                  <td>{{mu.cantidadMesa}} mesas</td>
                  <td>{{mu.cantidadSilla}} personas</td>
                  <td>{{mu.hora}}</td>
                  <td>
                    <button type="button" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="abrirModalEliminar(mu)">
                      Cancelar <i class="fa-regular fa-trash-can"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        
          </div>
        
        
  </div>
  
</div>

</div>






<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">CANCELAR RESERVA</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Estas seguro que quieres cancelar la reserva de la mesa ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="eliminarReserva(reservaEliminar)">Confirmar</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="modalReserva" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Reservar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Reserva de mesa {{modalReserva.numeroMesa}}</p>
        <form #reservaForm="ngForm">
        <div class="col-md-6">
          <div class="mb-3">
              <label for="mesa" class="form-label">Mesas disponibles : {{modalReserva.cantidadMesa}}</label>
              <select class="form-select" id="mesa" name="mesa" [(ngModel)]="cantidadMesasElegida" required #cantidad="ngModel">
                <option *ngFor="let i of getNumerosHastaCantidadMesas()" [value]="i">{{ i }}</option>
              </select>
              <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)"
              class="alert alert-danger">
             
              <div *ngIf="cantidad.errors?.['required']">
              cantidad es requerida
              </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="silla" class="form-label">Máximo de personas: {{ modalReserva.cantidadSilla }}</label>
            <select class="form-select" id="silla" name="silla" [(ngModel)]="cantidadSillasElegida" required #cantidadS="ngModel">
              <option *ngFor="let i of getNumerosHastaCantidadSillas()" [value]="i">{{ i }}</option>
            </select>
            <div *ngIf="cantidadS.invalid && (cantidadS.dirty || cantidadS.touched)" class="alert alert-danger">
              <div *ngIf="cantidadS.errors?.['required']">
                La cantidad de personas es requerida.
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="hora" class="form-label">Horarios disponibles:</label>
            <select class="form-select" id="hora" name="hora" [(ngModel)]="reserva.hora" required #hora="ngModel">
              <option value="" selected>Seleccione un horario</option>
              <option *ngFor="let hora of getHorariosDisponibles(modalReserva)" [value]="hora">{{ hora }}</option>
            </select>
            <div *ngIf="hora.invalid && (hora.dirty || hora.touched)" class="alert alert-danger">
              <div *ngIf="hora.errors?.['required']">
                El horario es requerido.
              </div>
            </div> 
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="guardarReserva(modalReserva)" [disabled]="reservaForm.invalid">Reservar</button>
      </div>
    </div>
  </div>
</div>
