.nav-link.active {
    background-color: #f5e7aa; /* Estilo de fondo para la opción activa */
    color: #251a21; /* Color de texto para la opción activa */
}

/*
Naranja:  #fa6816
Amarillo: #f5e7aa
Verde: #7fa38c
Marron Clarito:  #494144
Marron: #251a21
*/
/* Estilos generales del header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #251a21;
  color: #f5e7aa;
}

/* Estilos para los elementos del header */
header a {
  color: #f5e7aa;
  text-decoration: none;
  margin-right: 10px;
}

header a:hover {
  color: #f1eedf;
}

header .active a {
  font-weight: bold;
}
