<header class="nav nav-expand-lg nav-dark bg-dark">
    <div *ngIf="tipoLogged()  == ('administrador')">
        <!-- ADMINISTRADOR-->



    </div>
    <div *ngIf="tipoLogged()  == ('gestor')">
        <!-- GESTOR -->

        <li><a [routerLink]="['bebida']">Bebidas</a></li>

    </div>
    <div *ngIf="tipoLogged()  == ('cliente')">
        <!-- CLIENTE -->



    </div>

    <div>
        <!-- USUARIOS NO REGISTRADOS -->
        <li class="active"><a [routerLink]="['home']">Home</a></li>
        <li><a [routerLink]="['about']">About</a></li>
        <li><a [routerLink]="['menu']">Carta</a></li>

        <div>
            <a *ngIf="!loginService.userLoggedIn()" [routerLink]="['login']">Login</a>
            <a *ngIf="loginService.userLoggedIn()" [routerLink]="['login']" (click)="logout()">
                {{loginService.userLogged()}} Logout
            </a>
        </div>
    </div>

</header>

<br>