<div class="container-fluid">
  <div class="container">
    <h2 class="mt-3">Gestión de Pedidos</h2>
  <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
            <thead>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary mb-2" (click)="agregarPedido()" *ngIf="tipoLogged() == 'gestor'">Agregar Pedido</button>
                    <div *ngIf="tipoLogged() == 'administrador'">
                        <button type="button" class="btn btn-success mx-2" (click)="generarExcel()">Generar
                            Excel</button>
                    </div>
                </div>
                <tr>
                    <th scope="col">Nombre Bebida</th>
                    <th scope="col">Ingredientes Bebida</th>
                    <th scope="col">Precio por Bebida</th>
                    <th scope="col">Cantidad de Bebidas</th>
                    <th scope="col">Fecha de Pedido</th>
                    <th scope="col">Total Precio Pedido</th>
                    <th scope="col">Nombre Promocion</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of pedidos">
                    <td>
                        <div *ngFor="let bebida of pedido.bebidasPedido">
                            {{ bebida.bebida?.nombreBebida }}
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let bebida of pedido.bebidasPedido">
                            {{ bebida.bebida?.ingredientesBebida }}
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let bebida of pedido.bebidasPedido">
                            {{ bebida.precioDetalle }}
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let bebida of pedido.bebidasPedido">
                            {{ bebida.cantidadBebidas }}
                        </div>
                    </td>
                    <td>{{ pedido.fechaPedido }}</td>
                    <td>${{ pedido.totalPedido }}</td>
                    <td>
                        <div *ngFor="let promo of pedido.promo">
                            <td>{{promo.promocion}}</td>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="modificarPedido(pedido._id)"
                            style="margin-right: 10px;"><i class="fa-solid fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger" (click)="eliminarPedido(pedido._id)"><i
                                class="fa-sharp fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
</div>
