<div class="container-fluid">
  <div class="row justify-content-center">
    <div class=" col-10 col-sm-8 col-md-10 col-lg-8 col-xl-6 mt-5 mb-5 justify-content-center">
      <div class="card">
        <div class="card-body">
          <div *ngIf=" cambios == 'new'">
            <h2>Registrar Usuario</h2>
          </div>
          <div *ngIf=" cambios == 'modificar'">
            <h2>Modificar Usuario</h2>
          </div>
          <form name="registerForm" class="register-form" #registrarForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <div class="input-group">
                    <div class="input-group-text">@</div>
                    <input placeholder="ejemplo@gmail.com" type="text" class="form-control" name="email"
                      [(ngModel)]="emailUsuario" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                      #emailNuevo="ngModel" />
                    <div *ngIf="emailNuevo.invalid && (emailNuevo.dirty || emailNuevo.touched)"
                      class="alert alert-danger">
                      <div *ngIf="emailNuevo.errors?.['required']">
                        El Email es requerido
                      </div>
                      <div *ngIf="emailNuevo.errors?.['pattern']">
                        El Email ingresado debe seguir el formato: ___@___.com
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="registerPassword">Password</label>
                  <input type="password" class="form-control" name="registerPassword" placeholder="Ingrese Password"
                    #passwordNuevo="ngModel" [(ngModel)]="passwordUsuario" required />
                </div>

                <div class="form-group">
                  <label for="registerNombre">Nombre</label>
                  <input type="text" class="form-control" name="registerNombre" placeholder="Ingrese Nombre Completo"
                    #nombreNuevo="ngModel" [(ngModel)]="nombreUsuario" required pattern="[a-zA-Z ]*" />
                  <div *ngIf="nombreNuevo.invalid && (nombreNuevo.dirty || nombreNuevo.touched)" class="alert alert-danger">
                    <div *ngIf="nombreNuevo.errors?.['required']">
                      El nombre es requerido
                    </div>
                    <div *ngIf="nombreNuevo.errors?.['pattern']">
                      El nombre ingresado debe contener solo letras
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="registerApellido">Apellido</label>
                  <input type="text" class="form-control" name="registerApellido"
                    placeholder="Ingrese Apellido Completo" [(ngModel)]="apellidoUsuario" required
                    pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" #apellido="ngModel" />
                  <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
                    <div *ngIf="apellido.errors?.['required']">
                      El apellido es requerido
                    </div>
                    <div *ngIf="apellido.errors?.['pattern']">
                      El apellido solo puede contener letras y espacios.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="registerDni">DNI</label>
                  <input type="text" class="form-control" name="registerDni" placeholder="Ingrese DNI"
                    [(ngModel)]="dniUsuario" required pattern="[0-9]+" #dni="ngModel" />
                  <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
                    <div *ngIf="dni.errors?.['required']">
                      El DNI es requerido
                    </div>
                    <div *ngIf="dni.errors?.['pattern']">
                      El DNI debe ser un número válido.
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <label for="registerEdad">Edad</label>
                  <input type="number" class="form-control" name="registerEdad" placeholder="Ingrese Edad"
                    [(ngModel)]="edadUsuario" required min="16" max="110" #edad="ngModel" />
                  <div *ngIf="edad.invalid && (edad.dirty || edad.touched)" class="alert alert-danger">
                    <div *ngIf="edad.errors?.['required']">
                      La edad es requerida
                    </div>
                    <div *ngIf="edad.errors?.['min'] || edad.errors?.['max']">
                      La edad debe estar entre 16 y 110 años
                    </div>
                  </div>
                </div>

                <div class="mb-3 form-check">
                  <label for="tipo" class="form-label">Tipo de Usuario</label>
                  <select class="form-select" aria-label="Default select example" id="tipo" name="tipo"
                    [(ngModel)]="tipoUsuarioCliente" required #tipo="ngModel">
                    <option value="cliente">Cliente</option>
                    <option value="gestor">Gestor</option>
                    <option value="administrador">Administrador</option>
                  </select>
                  <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" class="alert alert-danger">
                    <div *ngIf="tipo.errors?.['required']">
                      El tipo de usuario es requerido
                    </div>
                  </div>
                </div>

                <div class="form-group d-flex justify-content-center pt-3">
                  <button type="button" class="btn btn-primary" [disabled]="!registrarForm.form.valid"
                    *ngIf=" cambios == 'new'" routerLink="/usuario" (click)="altaUsuario()">Registrar</button>
                  <button type="button" class="btn btn-primary" [disabled]="!registrarForm.form.valid"
                    *ngIf=" cambios == 'modificar'" routerLink="/usuario"
                    (click)="modificarUsuario()"><i class="fa-solid fa-check"></i> Modificar</button>
                  <button class="btn btn-danger" (click)="cancelar()"><i class="fa-solid fa-xmark"></i> Cancelar</button>
                </div>
              </div>
            </div>
          </form>
          <button type="button" class="btn btn-primary" routerLink="/usuario"><i class="fa-solid fa-left-long"></i> Atras</button>
        </div>
      </div>
    </div>
  </div>
</div>
