<div class="container">
  <div class="row">
    <div class="col-lg-6">

      <h1 class="mt-4">Menú de bebidas</h1>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let bebida of carta">
          <div class="card mb-4">
            <img [src]="bebida.imagenBebida" class="card-img-top" alt="Imagen bebida">
            <div class="card-body">
              <h5 class="card-title">{{bebida.nombreBebida}}</h5>
              <p class="card-text"><strong>Ingredientes:</strong> {{bebida.ingredientesBebida}}</p>
              <p class="card-text"><strong>Tipo de Vaso:</strong> {{bebida.tipoVasoBebida}}</p>
              <p class="card-text"><strong>Precio:</strong> {{bebida.precioBebida}}</p>
            </div>
            <div class="form-group">
              <label for="cantidad">Cantidad:</label>
              <input type="number" id="cantidad" [(ngModel)]="bebida.cantidad" name="cantidadBebida" class="form-control" />
            </div>
            <button class="btn btn-primary" (click)="crearPedido(bebida._id,bebida.precioBebida,bebida.cantidad)">Registrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <h1 class="mt-4">Pedido</h1>
      <button class="btn btn-secondary" *ngIf="pedidoSolicitado===true" (click)="generarPedido()">Generar Pedido</button>
      <button class="btn btn-danger" *ngIf="pedidoSolicitado===true" (click)="cancelarPedido()">Cancelar Pedido</button>
      <h3>Precio Total: {{total}}</h3>
      <div *ngFor="let pedido of arrayPedido">
        <div class="card">
          <div class="card-body">
            <p>Cantidad de bebidas: {{ pedido.cantidadBebidas }}</p>
            <p>Precio de detalle: {{ pedido.precioDetalle }}</p>
            <p>Bebida: {{ pedido.bebida }}</p> 
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>



