<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="menu mb-2">Menú de bebidas</h1>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 mb-5" *ngFor="let bebida of carta">
          <div class="card h-100">
            <img [src]="bebida.imagenBebida" class="card-img-top" alt="Imagen bebida">
            <div class="card-body">
              <h5 class="card-title">{{bebida.nombreBebida}}</h5>
              <p class="card-text ingredients-color"><strong>Ingredientes:</strong> {{bebida.ingredientesBebida}}</p>
              <p class="card-text"><strong>Tipo de Vaso:</strong> {{bebida.tipoVasoBebida}}</p>
              <p class="card-text"><strong>Precio:</strong> {{bebida.precioBebida}}</p>
            </div>
            <div class="form-group mx-5 mt-2">
              <label for="cantidad">Cantidad:</label>
              <select id="cantidad" [(ngModel)]="bebida.cantidad" name="cantidadBebida" class="form-control"
                #cantidadBebida="ngModel" required>
                <option *ngFor="let numero of numeros" [value]="numero">{{ numero }}</option>
              </select>
              <div *ngIf="cantidadBebida.invalid && (cantidadBebida.dirty || cantidadBebida.touched)"
                class="alert alert-danger">
                <div *ngIf="cantidadBebida.errors?.['required']">
                  La cantidad es requerida
                </div>
              </div>
            </div>

            <button class="btn btn-primary mx-5 mt-2 mb-2"
              (click)="crearPedido(bebida._id,bebida.precioBebida,bebida.cantidad,bebida.nombreBebida)">Agregar al
              Pedido</button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 mb-5 texto2" *ngFor="let promo of promocionBebida">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Promo:</h5>
            <p class="card-text ingredients-color"><strong>Descuento:</strong> {{promo.descuento | percent}}</p>
            <p class="card-text"><strong>Fecha de Promocion:</strong> {{promo.fechaPromocion | date:'dd/MM/yyyy'}}</p>
            <p class="card-text"><strong>Precio con Descuento:</strong> {{promo.totalPrecioPromocion}}</p>
            <p class="card-text"><strong>Precio sin Descuento:</strong> {{promo.totalPrecioBebidasSinDescuento}}</p>
            <p class="card-text"><strong>Bebida en Promocion:</strong></p>
            <div *ngFor="let bebida of promo.bebidas">
              <p class="col-lg-6 col-md-6 col-sm-12 mb-5"> {{bebida.nombreBebida}} </p>
              <img [src]="bebida.imagenBebida" class="card-img-top" alt="Imagen bebida">
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary mx-5 mt-2 mb-2"
              (click)="crearPedidoBebida(promo._id,promo.totalPrecioPromocion,promo.nombrePromocion)">Agregar promo al
              Pedido</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div>
        <h1 class="menu mt-4">Pedido {{numeroPedido}}</h1>
      </div>
      <h2 class="menu mt-4">Fecha: {{fechaPedido | date: 'dd MMM yyyy'}}</h2>
      <button type="button" class="btn btn-primary" *ngIf=" cambios == 'new' && pedidoSolicitado===true"
        routerLink="/pedido" (click)="generarPedido()">Generar Pedido</button>
      <button type="button" class="btn btn-primary mx-2" *ngIf=" cambios == 'modificar'" routerLink="/pedido"
        (click)="generarPedido()">Modificar Pedido</button>
      <button class="btn btn-danger mx-2" *ngIf="pedidoSolicitado===true" (click)="cancelarPedido()">Cancelar
        Pedido</button>
      <button class="btn btn-info" *ngIf=" cambios == 'new' && pedidoSolicitado===true" routerLink="/pedido"
        (click)="habilitarConversion()">Habilitar Conversión</button>

      <div *ngIf="cambios == 'new' && pedidoSolicitado === true && conversionHabilitada === true" routerLink="/pedido">

        <div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="destino" class="texto2 mt-2">¡Pague con su Moneda!</label>
              <select class="form-control" id="destino" (change)="seleccionarMoneda($event, 'destino')">
                <option value="">Seleccione un código de moneda de destino</option>
                <option *ngFor="let moneda of monedas" [value]="moneda.key"
                  [selected]="moneda.key === codigoMonedaDestino">{{ moneda.value }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary mt-2" (click)="convertirMonedas()">Convertir</button>
            <h3 class="menu mt-3">Precio Convertido: {{totalConversion}} {{codigoMonedaDestino}}</h3>
          </div>
        </div>
      </div>

      <h3 class="menu mt-3">Precio Total: {{total}} {{codigoMonedaOrigen}}</h3>
      <div *ngFor="let pedido of arrayPedido">
        <div class="card texto m-2">
          <div class="card-body">
            <p *ngIf="pedido.cantidadBebidas != null">Cantidad de bebidas: {{ pedido.cantidadBebidas }}</p>
            <p *ngIf="pedido.precioDetalle != null">Precio de detalle: {{ pedido.precioDetalle }}</p>
            <div *ngIf="pedido.nombreBebida">
              <p *ngIf="pedido.nombreBebida != null">Bebida: {{ pedido.nombreBebida }}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let promo of arrayPromo">
        <div class="card texto m-2">
          <div class="card-body">
            <p>Precio Total de la Promo: {{ promo.totalPromocion }}</p>
            <p>Nombre Promocion: {{ promo.nombrePromocion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>