/*
Naranja:  #fa6816
Amarillo: #f5e7aa
Verde: #7fa38c
Marron Clarito:  #494144
Marron: #251a21
*/

.container-fluid {
  background-color: #251a21; /* Reemplaza con el color de fondo deseado */
  padding: 20px; /* Ajusta el espaciado interno según tus preferencias */
  font-family: 'Lato', sans-serif;
}

.card {
  background-color: #f5e7aa;
}

.card-title {
  color: #251a21;
  -webkit-text-stroke: 0.5px #251a21;
  font-size: 36px; /* borde para navegadores basados en WebKit (Safari, Chrome) *//* color del texto */ /* color de fondo */
}

.texto{
  color: #251a21;
  -webkit-text-stroke: 0.5px #251a21;
  font-size: 18px;
}

.texto2{
  color: #f5e7aa;
  font-size: 18px;
}

.btn-primary {
  background-color: #7fa38c;
  border-color: #7fa38c;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #749981; /* Cambia el color de fondo en hover */
  border-color: #749981; /* Cambia el color del borde en hover */
}

.btn-info {
  background-color: #f5e7aa;
  border-color: #f5e7aa;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-info:hover {
  background-color: #f5e7aa; /* Cambia el color de fondo en hover */
  border-color: #f5e7aa; /* Cambia el color del borde en hover */
}

.btn-danger {
  background-color: #fa6816;
  border-color: #fa6816;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-danger:hover {
  background-color: #fd8037; /* Cambia el color de fondo en hover */
  border-color: #fd8037; /* Cambia el color del borde en hover */
}


.menu {
  color: #f5e7aa;
  font-size: 36px; /* Tamaño de fuente */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
  animation-name: bounceIn; /* Animación de entrada */
  animation-duration: 1s; /* Duración de la animación */
}

.card-img-top {
  object-fit: cover;
  height: 300px; /* Ajusta esta altura según tus preferencias */
}

.card-body {
  animation-name: fadeInUp; /* Animación de entrada y desplazamiento hacia arriba */
  animation-duration: 1s; /* Duración de la animación */
}

@keyframes bounceIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
